<div id='top' class='row'>
	<div class='col-md-4 col-sm-4 col-xs-4'>
		<img src='/img/blackLogo.gif' width='100%'>
	</div>
	<div class='col-md-4 col-sm-4 col-xs-4'>
	</div>
	<div class='col-md-4 col-sm-4 col-xs-4'>
	</div>
</div>