---
title: Mayne's Boer Goats - Contact Us
page: Contact
page_title: Contact Us
---
<div class='row'>
	<div class='col-md-9'>
		
		<div class='row'>
			<div class='col-md-4'>
				<img src='/img/tonjia_profile.png' width='100%'>
			</div>
			<div class='col-md-8'>
				<h3>Tonjia Mayne</h3>
				<p>Tonjia graduated from West Virgina University with a Bachelors degree in Agricultural Education. Her love for livestock and teaching were evident from her early years in the FFA. Tonjia grew up raising sheep and market steer in Kingwood, West Virginia. Tonjia was very active in the FFA which was highlighted by her winning the State FFA contest. Other areas of expertise included Land Judging & Parliamentary procedure to name a few.</p>

				<p>Tonjia left Kingwood to take her first teaching assignment at Catoctin High School in Frederick County. After each child she relocated to another Frederick County High School, totaling 4 agricultural programs. As an Agriculture Educator/FFA Advisor Tonjia has recieved numerous agriculture teaching awards & recognitions, with the highlight receiving her state and national Honorary FFA award.</p>
				<b>Phone: 301-676-6276</b>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-4'>
				<img src='/img/ed_profile.png' width='100%'>
			</div>
			<div class='col-md-8'>
				<h3>Edward Mayne</h3>
				<p>Ed Mayne Jr. grew up in Laytonsville Maryland on a Turf and Small Grain Farm. Active in both 4-H and FFA holding major offices and president of both local and county 4-H clubs and chapter FFA president. Ed also served as a State FFA Officer and received his Honorary American Farmer Degree. Raising and showing purebred breeding and crossbred market hogs was part of Ed’s state winning 4-H and FFA Swine SAE.</p>

				<p>Graduated from the University of Maryland with a degree in Agriculture Education and currently in my 32nd year of teaching high school agriculture. Raising Boer Goats began with our 3 children purchasing market meat goats. From our first market goats we have selected some of the top bloodlines as we look to continue to improve and develop our herd. We are very excited about the future of the Boer Goat industry. I would like to personally thank Mark and Julie Berry for all their help and support. Separated by many miles, Mark and Julie are always ready to take a phone call to answer our many questions.</p>
				<b>Phone: 301-676-6275</b>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-4'>
				<img src='/img/josh_profile.png' width="100%">
			</div>
			<div class='col-md-8'>
				<h3>Joshua Mayne</h3>
				<p>Our first born April 30, 1990 was a day of answered prayers when we first held our healthy son. Josh loves reading and all sports. Josh graduated tops in his High School class with academic honors while also participating in football, track, drama, and FFA. Josh was a National Finalist in FFA Public Speaking. Josh was very active in 4-H and participated in a wide variety of activities. He is very active in our church and community. Josh followed in his father’s footsteps in his love for raising and showing Market Hogs. His highlights in raising pigs and market boer goats include Reserve Grand Champion Market Hog, Grand Champion Market Boer goat, Fitting and Showing Champion in both goats and swine.</p>

				<p>Currently attending college, a senior at UMBC (University of Maryland Baltimore County). Josh is majoring in Computer Science with a minor in Mathematics. Josh is a student athlete on the collegiate track team competing in the American East Conference. Recently Josh was selected into the Collegiate National Athletic Honor Society. Josh is looking forward work in the field of Computers/Engineering. (FYI – As a 12 year old Josh went on a mission trip to Swaziland Africa)</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-4'>
				<img src='/img/katie_profile.png' width="100%">
			</div>
			<div class='col-md-8'>
				<h3>Katie Mayne</h3>
				<p>Our third child Katie was born April 23, 1996. Katie also has a love for reading and also quite a good writer. Katie followed in her big brother and sisters footsteps being very active in a variety of sports. She currently is in her second season as a member of Linganore High School Girls Track team. Katie is also very active in 4-H and FFA. Katie just finished competing in the FFA National Creed Speaking Contest in Indianapolis, Indiana. Katie also like her sibling is very active in the First Baptist Church Green Valley. Katie currently is carrying two 4-H and FFA projects. She raises and shows market hogs and breeding and market boer goats. This past year Katie showed the Champion Bred and owned market goat.<p>

				Katie is looking forward to college and hopes to attend the University of Maryland in several years.
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-4'>
				<img src='/img/emma_profile.png' width="100%">
			</div>
			<div class='col-md-8'>
				<h3>Emma Mayne</h3>
				<p>Our second born January 18, 1992 was Emma Rose Mayne. Emma was always bright eyed and full of energy. Emma was also an exceptional high school athlete. Emma started her career exceling in basketball and soccer before she settled into track and field. Emma holds 3 high school records in the shot and discus and her senior year was the Maryland State 3A Indoor Track and Field Shot Put Champion. Emma was also very active in the FFA and 4-H. Emma showed and sold many top market hogs and meat goats. Emma was a champion boer goat showman and showed many class and division champions.</p>

				<p>Emma had many scholarship opportunities in collegiate track and field and finally decided to attend college with her brother at UMBC. She loved the beautiful campus setting and friends she quickly made on the track team. Emma is in her second year and currently undecided on her major.</p>
			</div>
		</div>
		
	</div>
	<div class='col-md-3'>

		<p>Tonjia Mayne: 301-676-6276<br/>
			Ed Mayne: 301-676-6275</p>

		<p>info@maynesboergoats.com</p>

		<p>Maynes Boer Goats<br>
		13045 Glissans Mill Rd<br>
		Mt. Airy, MD 21771</p>

		Thanks for visiting Maynes Boer Goats, we look forward to hearing from you!
	</div>
</div>