---
title: Mayne's Boer Goats - Wethers For Sale
page: Wethers For Sale
page_title: Wethers For Sale
---
<div id='wether_sale'>
	<h2>Frey, Mary-Okie, & Mayne Market Sale</h2>
	<p class='lead'>
		We will be consigning 5 market wethers and 1 market doe in this sale on Sunday April 6th 2014. There will also be market hogs sold by Colby Ferguson and Dustin Nusbaum of Mary-Okie Farm and club lambs sold by Joe & Debbie Frye of Frey's Club Lambs. Sale will be at the Washington County Agricultural Education Center. Viewing starts at 12pm and the auction begins at 2pm. The sale will be a board sale with sheep ending at 3pm, goats ending at 3:30pm and pigs ending at 4pm. Contact Ed at 301-676-6275 with any questions.
	</p>
	
	<div class="row goat_row">
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Chipmunk.jpg" class="img-responsive img-thumbnail" />
	     	</div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 1 - Chipmunk</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/11/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10566999">GH5 Boss Hog (10566999)</a></li>
	          <li><b>Dam:</b> <a href="/Does/I-10537184">SP Melanie (I-10537184)</a></li>
	          <li>&nbsp;</li>
	          <li>Be sure to look real close at this guy. Standing on a huge set of legs he is massive. Full brother to the Overall Grand Champion at the 2013 Harford County Fair, he is cut from the same mold.</li>
	      	</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Muskrat.jpg" class="img-responsive img-thumbnail"/>
	      </div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 2 - Muskrat</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/11/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10566999">GH5 Boss Hog (10566999)</a></li>
	          <li><b>Dam:</b> <a href="/Does/I-10537184">SP Melanie (I-10537184)</a></li>
	          <li>&nbsp;</li>
	          <li>Great style and structure for this guy. Love the way this guy looks from the profile, level long and upright he definitely has the extra eye appeal. Don't sleep on this guy he has the pedigree and muscling to take you far.</li>
	       	</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row goat_row">
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Tux.jpg" class="img-responsive img-thumbnail" />
	     	</div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 3 - Tux</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/14/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10566999">GH5 Boss Hog (10566999)</a></li>
	          <li><b>Dam:</b> <a href="/Does/10631053">LFC 143 "Blitzy Lady" (10631053)</a></li>
	          <li>&nbsp;</li>
	          <li>Extremely long bodied  and beautiful coloring we are excited to see how this guy turns out. Looking at his chest you can see he has that width all the way through and will really make a great market wether.</li>
	      	</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Blaze.jpg" class="img-responsive img-thumbnail"/>
	      </div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 4 - Blaze</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/14/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10566999">GH5 Boss Hog (10566999)</a></li>
	          <li><b>Dam:</b> <a href="/Does/10631053">LFC 143 "Blitzy Lady" (10631053)</a></li>
	          <li>&nbsp;</li>
	          <li>Here is a goat we considered keeping a buck. He has great bone and great shape down the back this guy is fantastic. Pair that with his extreme length and tubular design, we think he will make a great wether.</li>
	       	</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row goat_row">
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Perry.jpg" class="img-responsive img-thumbnail" />
	     	</div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 5 - Perry</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/20/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10497185">KATIE KT Gunner (10497185)</a></li>
	          <li><b>Dam:</b> <a href="/Does/10503389">KATIE KT Sadie (10503389)</a></li>
	          <li>&nbsp;</li>
	          <li>This wether has been one of our favorites from the beginning. Full brother to the Reserve Grand Champion goat at the 2013 Frederick Fair. He oozes style and carries tremendous thickness all the way through his back legs. He has the body type that will put on the muscle and we guarantee the judge will want a second look!</li>
	      	</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
	    	<div class="col-md-5 col-sm-5 col-xs-5">
	      	<img src="/img/2014_Sale/BoardSale/Sweetheart.jpg" class="img-responsive img-thumbnail"/>
	      </div>
				<div class="col-md-7 col-sm-7 col-xs-7">
	      	<h3>Lot 6 -  Sweetheart</h3>
	        <ul class="list-unstyled goat_info">
	        	<li><b>DOB:</b> 01/26/2014</li>
	          <li><b>Sire:</b> <a href="/Bucks/10497185">KATIE KT Gunner (10497185)</a></li>
	          <li><b>Dam:</b> <a href="/Does/10440328">LFC Buffy (10440328)</a></li>
	          <li>&nbsp;</li>
	          <li>This is truly a dual purpose doe. She carries great shape down her rack and into her loin, and you won't be disappointed when you get a hold of her leg. Beautiful profiling she will definitely be one to watch. She is show correct and would have a great future as either a show doe or a market doe.</li>
	       	</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>
